# Generated folder
##########################

bin/
external/
solutions/NeptunePhysics/Debug
solutions/NeptunePhysics/Release
solutions/NeptunePhysicsSimulator/Debug
solutions/NeptunePhysicsSimulator/Release
test/NeptunePhysicsTest/Debug
test/NeptunePhysicsTest/Release

##########################
# Visual Studio generated
##########################
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.idb
*.suo
*.sdf
*.opensdf
