Generated folder
===============
bin/
external/
solutions/NeptunePhysics/Debug
solutions/NeptunePhysicsSimulator/Debug

=====================================
Visual Studio generated
=====================================
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.idb
*.suo
*.sdf
*.opensdf