Generated folder
===============
Debug/
solutions/WindowsGUI/obj/

=====================================
Visual Studio generated
=====================================
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.idb
*.suo
*.sdf
*.opensdf